.appquote {
    margin-bottom:18px;border-left:4px solid #e74c3c;padding-left:15px;
  }
.appquote p{
    color: #303030;font-weight: normal; font-size: inherit;
}

.centerfigcaption {
    text-align: center;
    display: block;margin: auto;
    font-style: italic;
    max-width: 500px;
}
